/* IPAD LANDSCAPE */

body.device-ipad.orientation-landscape.header {
   height: 60px !important;
}
body.device-ipad.orientation-landscape .icon-wrap {
   width: 60px;
   height: 60px;
}
body.device-ipad.orientation-landscape #main.home #hero-caption .hero-title {
   height: calc(100vh - 60px);
   max-height: calc(100vh - 60px);
}
body.device-ipad.orientation-landscape .hero-arrow {
   width: 32px;
   height: 44px;
}
body.device-ipad.orientation-landscape .nmp .hero-arrow span {
   border: 1.5px solid #222;
}
body.device-ipad.orientation-landscape nav {
   height: calc(var(--vh) * 100);
   height: calc(100 * var(--vh-fix));
}
/* body.device-ipad.orientation-landscape .flexnav {
   margin-left: 180px;
} */
body.device-ipad.orientation-landscape .flexnav li {
   margin: 5% 0;
}
body.device-ipad.orientation-landscape .flexnav li,
body.device-ipad.orientation-landscape .flexnav li ul li:marker {
   list-style: none;
}

body.device-ipad.orientation-landscape .fullscreen-menu .flexnav li a {
   font-size: calc(2rem + 4.5vw);
   line-height: calc(2rem + 4.5vw);
}

body.device-ipad.orientation-landscape .fullscreen-menu .flexnav li ul li a {
   text-align: left;
   font-size: calc(2.5vw) !important;
   line-height: calc(4vw) !important;
}
body.device-ipad.orientation-landscape .fullscreen-menu .flexnav li ul.submenu {
   margin-left: 2rem !important;
   margin-top: 0;
}
body.device-ipad.orientation-landscape .fullscreen-menu .flexnav li ul.submenu li {
   margin: 0;
}

body.device-ipad.orientation-landscape #main.home #main-content.projects h1 {
   letter-spacing: -3px;
}
body.device-ipad.orientation-landscape .project .project-info h2 {
   letter-spacing: -2px !important;
}

body.device-ipad.orientation-landscape
   #main.project-detail.detail-project
   #hero.has-image
   #hero-caption
   .inner
   .from {
   font-size: calc(1rem + 0.65vw);
   line-height: calc(1rem + 0.65vw);
   margin-top: 0.2rem;
   margin-bottom: 1rem;
}

body.device-ipad.orientation-landscape
   #main.project-detail.detail-project
   #hero.has-image
   #hero-caption
   .inner
   .desc {
   font-size: calc(1rem + 0.2vw);
   line-height: calc(1rem + 0.2vw);
}
body.device-ipad.orientation-landscape
   #main.project-detail.detail-project
   #hero.has-image
   #hero-caption
   .inner
   .anio {
   font-size: calc(1rem + 0.2vw);
   line-height: calc(1rem + 0.2vw);
}
body.device-ipad.orientation-landscape .text,
.text p,
#hero-description p,
.buy-me p {
   font-size: 16px;
}

body.device-ipad.orientation-landscape .spot {
   width: 14px;
   height: 14px;
}
body.device-ipad.orientation-landscape
   #page-content.fusion
   .ui-design
   .content-half
   .spots-container
   .spot:nth-child(2) {
   top: 22.5%;
   left: 50%;
}
body.device-ipad.orientation-landscape
   #page-content.fusion
   .ui-design
   .content-half
   .spots-container
   .spot:nth-child(3) {
   top: 37.5%;
   left: 57%;
}
body.device-ipad.orientation-landscape
   #page-content.fusion
   .ui-design
   .content-half
   .spots-container
   .spot:nth-child(4) {
   top: 31%;
   left: 36%;
}
body.device-ipad.orientation-landscape
   #page-content.fusion
   .ui-design
   .content-half
   .spots-container
   .spot:nth-child(5) {
   top: 50%;
   left: 40.5%;
}
body.device-ipad.orientation-landscape
   #page-content.fusion
   .ui-design
   .content-half
   .spots-container
   .spot:nth-child(6) {
   top: 50%;
   left: 54.2%;
}
body.device-ipad.orientation-landscape
   #page-content.fusion
   .views
   .content-full
   .spots-container
   .spot:nth-child(2) {
   top: 40%;
   left: 69.5%;
}
body.device-ipad.orientation-landscape
   #page-content.fusion
   .views
   .content-full
   .spots-container
   .spot:nth-child(3) {
   bottom: 24%;
   left: 70%;
}
body.device-ipad.orientation-landscape
   #page-content.fusion
   .views
   .content-full
   .spots-container
   .spot:nth-child(4) {
   top: 60%;
   left: 81.5%;
}
body.device-ipad.orientation-landscape #page-content.fusion .content-videos {
   max-width: 100%;
}
body.device-ipad.orientation-landscape #page-content.fusion .frame-seq {
   max-width: 85%;
}

body.device-ipad.orientation-landscape #page-content.iqperfetto #main-page-content,
body.device-ipad.orientation-landscape #page-content.skinpro #main-page-content,
body.device-ipad.orientation-landscape #page-content.pilltrack #main-page-content {
   overflow: hidden;
}

body.device-ipad.orientation-landscape #page-content.skinpro .title-accessories {
   transform: translateY(-65%);
}
body.device-ipad.orientation-landscape #page-content.skinpro .skinpro-buy-me {
   transform: translateX(7%);
}

body.device-ipad.orientation-landscape #page-content.skinpro .skinpro-acc {
   margin-top: -170px !important;
}

body.device-ipad.orientation-landscape
   #page-content.pilltrack
   .pilltrack-led
   .last
   .content-half
   h2
   img,
body.device-ipad.orientation-landscape
   #page-content.pilltrack
   .pilltrack-uses
   .content-half
   h2
   img {
   max-height: 33px !important;
   transform: translateY(-0.6vw);
}

body.device-ipad.orientation-landscape #page-content.kali .kali-open {
   margin-top: -250px;
}
body.device-ipad.orientation-landscape
   #page-content.kali
   #main.project-detail
   .kali-exploded
   .content-full
   > img {
   max-height: 50vh !important;
}
body.device-ipad.orientation-landscape
   #page-content.kali
   .kali-views3
   .one_half
   .content-half
   .project-info-plus {
   width: -webkit-fit-content !important;
   width: -moz-fit-content !important;
   width: fit-content !important;
   max-width: -webkit-fit-content !important;
   max-width: -moz-fit-content !important;
   max-width: fit-content !important;
}
body.device-ipad.orientation-landscape #page-content.kali .kali-views4 {
   margin-bottom: 0;
}

body.device-ipad.orientation-landscape #page-content.wellted .self-cleaning .wrapper-videos video {
   padding-top: 0 !important;
   margin-bottom: -90px;
   margin-top: -20px;
}

body.device-ipad.orientation-landscape main .cd-main-content > div {
   min-height: unset;
}

body.device-ipad.orientation-landscape.contactus .page-nav-caption {
   padding-top: 60px;
   padding-bottom: 0;
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
}
body.device-ipad.orientation-landscape.contactus #contact {
   max-height: calc(100vh - 100px);
   height: calc(100vh - 100px);
}
body.device-ipad.orientation-landscape.contactus #contact img {
   max-width: 75px;
   margin-bottom: 35px;
}
body.device-ipad.orientation-landscape.contactus #contact .inner h2 {
   font-size: 65px;
   margin-top: 10px;
}
body.device-ipad.orientation-landscape.contactus #contact .inner .button-box {
   margin-top: 22px;
}
body.device-ipad.orientation-landscape.contactus #main.contact .button-border span {
   padding: 1px 20px;
}
body.device-ipad.orientation-landscape.contactus .socials.contact-center {
   margin-top: 0;
}
body.device-ipad.orientation-landscape.contactus .next-hero-subtitle {
   margin-bottom: 0;
}
body.device-ipad.orientation-landscape.contactus #main #confirmationMessage {
   margin-top: 6px;
   margin-bottom: 10px;
}

body.device-ipad.orientation-landscape.contactus footer {
   position: fixed;
   bottom: 0;
}

/* IPAD LANDSCAPE */
body.device-ipad.orientation-portrait .ipad-port-ok {
   display: inherit !important;
}
body.device-ipad.orientation-portrait .ipad-port-no {
   display: none !important;
}
body.device-ipad.orientation-portrait .content-max-width,
body.device-ipad.orientation-portrait .content-full-width {
   padding-left: 12vw;
   padding-right: 12vw;
}

body.device-ipad.orientation-portrait .fullscreen-menu .flexnav li {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

body.device-ipad.orientation-portrait .fullscreen-menu .flexnav li ul.submenu {
   margin-left: 0;
   margin-top: 0;
}

body.device-ipad.orientation-portrait #header-container nav .flexnav .menu-item {
   display: flex;
   justify-content: center;
}

body.device-ipad.orientation-portrait header {
   height: 74px !important;
}
body.device-ipad.orientation-portrait .icon-wrap {
   width: 74px;
   height: 74px;
}
/**/
body.device-ipad.orientation-portrait.projects #hero-caption .inner {
   display: none !important;
}
body.device-ipad.orientation-portrait #hero-description,
body.device-ipad.orientation-portrait #caption-img {
   display: flex !important;
}
body.device-ipad.orientation-portrait #hero-bg-image,
body.device-ipad.orientation-portrait #page-content .next-project-image-bg.alpha {
   background-position: 50% 70% !important;
}

body.device-ipad.orientation-portrait #page-content.fusion .ui-design .content-half.content-text {
   padding: 0;
   padding-left: 12vw;
}
body.device-ipad.orientation-portrait
   #page-content.fusion
   #main.project-detail
   .grid-item
   > div:nth-child(2) {
   font-size: 13px;
}
body.device-ipad.orientation-portrait #page-content.fusion .fusion-spots .spots-container img {
   max-width: 100%;
}
body.device-ipad.orientation-portrait #page-content.fusion .buy-me-content {
   padding-left: 0;
}

body.device-ipad.orientation-portrait
   #page-content.skinpro
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   h1.less,
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   h1.less,
body.device-ipad.orientation-portrait
   #page-content.ccexquisite
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   h1.less {
   flex-direction: column !important;
   line-height: 0.95;
}
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   .detail
   div:first-child,
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   #main.project-detail.detail-project
   #hero.has-image
   #hero-caption
   .inner
   .detail
   div:first-child,
body.device-ipad.orientation-portrait
   #page-content.ccexquisite
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   .detail
   div:first-child,
body.device-ipad.orientation-portrait
   #page-content.ccexquisite
   #main.project-detail.detail-project
   #hero.has-image
   #hero-caption
   .inner
   .detail
   div:first-child {
   transform: translateY(0);
   display: flex;
   flex-direction: row;
}

body.device-ipad.orientation-portrait
   #page-content.skinpro
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   .detail
   div:nth-child(2),
body.device-ipad.orientation-portrait
   #page-content.skinpro
   #main.project-detail.detail-project
   #hero.has-image
   #hero-caption
   .inner
   .detail
   div:nth-child(2),
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   .detail
   div:nth-child(2),
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   #main.project-detail.detail-project
   #hero.has-image
   #hero-caption
   .inner
   .detail
   div:nth-child(2),
body.device-ipad.orientation-portrait
   #page-content.ccexquisite
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   .detail
   div:nth-child(2),
body.device-ipad.orientation-portrait
   #page-content.ccexquisite
   #main.project-detail.detail-project
   #hero.has-image
   #hero-caption
   .inner
   .detail
   div:nth-child(2) {
   transform: translateY(0);
   display: flex;
   flex-direction: row;
}
body.device-ipad.orientation-portrait
   #page-content.skinpro
   #main.project-detail.detail-project
   #hero.has-image
   #hero-bg-image,
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   #main.project-detail.detail-project
   #hero.has-image
   #hero-bg-image,
body.device-ipad.orientation-portrait
   #page-content.ccexquisite
   #main.project-detail.detail-project
   #hero.has-image
   #hero-bg-image {
   transform: translate(55%, -12%) scale(2) !important;
}
body.device-ipad.orientation-portrait
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   h1 {
   margin-top: 9vh !important;
   font-size: 15vw !important;
   letter-spacing: -1vw !important;
}

body.device-ipad.orientation-portrait #hero-background-layer {
   position: relative !important;
   transform: unset !important;
   inset: unset !important;
   max-height: unset !important;
   min-height: 100% !important;
}
body.device-ipad.orientation-portrait
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   .desc {
   margin-top: 5px;
   margin-bottom: 6px;
}
body.device-ipad.orientation-portrait
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   .from,
body.device-ipad.orientation-portrait
   #main.project-detail.detail-project
   #hero.has-image
   #hero-caption
   .inner
   .from {
   margin-top: 0;
}
body.device-ipad.orientation-portrait
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   .from {
   font-size: 5vw;
}
body.device-ipad.orientation-portrait
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   .desc,
body.device-ipad.orientation-portrait
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner
   .anio {
   font-size: 2.5vw;
}
body.device-ipad.orientation-portrait #hero-bg-image {
   -webkit-animation: backgroundResize 1s ease-in-out forwards !important;
   animation: backgroundResize 1s ease-in-out forwards !important;
   -webkit-animation-delay: 1.2s !important;
   animation-delay: 1.2s !important;
   transform: translate(55%, -15%) scale(2) !important;
   background-size: 28vw !important;
}

body.device-ipad.orientation-portrait
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner.title,
body.device-ipad.orientation-portrait
   #main.project-detail.detail-project
   #hero.has-image
   #hero-description
   .inner,
body.device-ipad.orientation-portrait .full.xlarge .one_half .content-half,
body.device-ipad.orientation-portrait .full.xlarge .one_half.last .content-half {
   margin-left: 0;
   margin-bottom: 0;
   padding: 10px 12vw 10px 12vw;
   max-width: 100%;
   width: 100%;
}

body.device-ipad.orientation-portrait #page-content.iqperfetto #main-page-content {
   padding-bottom: 100px !important;
}

body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   #main.project-detail.detail-project
   #hero.has-image
   #hero-description {
   margin-bottom: -5vw;
}

body.device-ipad.orientation-portrait
   #main.project-detail.detail-project
   #hero.has-image
   #caption-img
   .inner.title {
   margin-left: 0;
}

/**/
body.device-ipad.orientation-portrait #main.home #hero-caption .hero-title {
   height: calc(100vh - 74px);
   max-height: calc(100vh - 74px);
}

body.device-ipad.orientation-portrait #page-content.iqperfetto .iqperfetto-spots .spots-container {
   width: 100%;
   margin-top: -15%;
}
body.device-ipad.orientation-portrait #page-content.iqperfetto .iqperfetto-details-t {
   margin-top: 70px !important;
   margin-left: 0px !important;
   margin-bottom: -20px;
}
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   .iqperfetto-details-t
   .full.xlarge
   .one_full {
   padding-left: 12vw;
}
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   .iqperfetto-details-t
   .full.xlarge
   .one_full
   .content-full.less {
   width: 100%;
   max-width: 100%;
}
body.device-ipad.orientation-portrait #page-content.iqperfetto .iqperfetto-det1 {
   margin-top: -50px;
}
body.device-ipad.orientation-portrait #page-content.iqperfetto .iqperfetto-det2 {
   margin-top: 210px;
}

body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   .iqperfetto-spots
   .spots-container
   img {
   max-width: 75%;
}
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   .iqperfetto-spots
   .content-full
   .spots-container
   .spot:nth-child(2) {
   left: 80%;
}
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   .iqperfetto-spots
   .content-full
   .spots-container
   .spot:nth-child(6) {
   left: 60%;
}
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   .iqperfetto-spots
   .content-full
   .spots-container
   .spot:nth-child(8) {
   top: 43%;
   left: 62%;
}
body.device-ipad.orientation-portrait .project-info-plus {
   font-size: 16px;
}
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   .iqperfetto-det1
   .content-full
   .project-info-plus {
   height: 57%;
}
body.device-ipad.orientation-portrait #page-content.iqperfetto .iqperfetto-det2 .content-full {
   transform: translate(16%, -30%);
}
body.device-ipad.orientation-portrait
   #page-content.iqperfetto
   .iqperfetto-det2
   .content-full
   .project-info-plus {
   transform: translate(40%, 470%);
}
body.device-ipad.orientation-portrait #page-content.iqperfetto .iqperfetto-det3 {
   transform: translate(-30%, 170%);
   margin-bottom: 45%;
}
body.device-ipad.orientation-portrait #page-content.iqperfetto .iqperfetto-det3 .project-info-plus {
   text-align: center;
}
body.device-ipad.orientation-portrait #page-content.iqperfetto .iqperfetto-det3 .one_full {
   flex-direction: column;
   transform: translate(-20%, -70%);
   gap: 60px;
}

body.device-ipad.orientation-portrait #page-content.iqperfetto .buy-me {
   transform: translateX(12vw);
   justify-content: flex-start;
}

body.device-ipad.orientation-portrait #page-content.skinpro #main-page-content {
   margin-top: 60px;
}

body.device-ipad.orientation-portrait
   #page-content.skinpro
   .skinpro-views-2.full.xlarge
   .one_half
   .content-half {
   padding: 10px 6vw 10px 12vw !important;
   margin-top: -90px;
   margin-bottom: -120px;
}

body.device-ipad.orientation-portrait
   #page-content.skinpro
   .skinpro-views-2.full.xlarge
   .one_half.last
   .content-half {
   padding: 10px 12vw 10px 6vw;
}

body.device-ipad.orientation-portrait #page-content.skinpro .title-accessories {
   margin-top: 150px;
}
body.device-ipad.orientation-portrait #page-content.skinpro .title-accessories .content-full {
   width: 100%;
   max-width: 100%;
   justify-content: center !important;
   transform: translateY(-45%) !important;
}
body.device-ipad.orientation-portrait #page-content.skinpro .skinpro-acc {
   margin-top: -230px !important;
}
body.device-ipad.orientation-portrait #page-content.skinpro .image-hover {
   background-position: center;
}

body.device-ipad.orientation-portrait #page-content.skinpro .skinpro-acc .wrapper-videos video {
   width: calc(60vw - 100px);
   max-width: calc(60vw - 100px);
}

body.device-ipad.orientation-portrait #page-content.skinpro .skinpro-buy-me {
   transform: translateY(4%);
}

body.device-ipad.orientation-portrait #page-content.skinpro #main-page-content,
body.device-ipad.orientation-portrait #page-content.pilltrack #main-page-content {
   padding-bottom: 0 !important;
}

body.device-ipad.orientation-portrait #page-content.pilltrack .pilltrack-uses {
   padding-bottom: 0 !important;
}
body.device-ipad.orientation-portrait #page-content.pilltrack .pilltrack-buy-me {
   margin-top: -20px !important;
}

body.device-ipad.orientation-portrait
   #page-content.ccexquisite
   .ccexquisite-color
   .wrapper-videos
   video {
   padding-top: 0;
   margin-bottom: -180px;
   margin-top: -80px;
}

body.device-ipad.orientation-portrait
   #page-content.ccexquisite
   .ccexquisite-views
   .content-full
   > img {
   height: unset !important;
   max-height: unset !important;
   margin: 60px 0 150px;
}

body.device-ipad.orientation-portrait #page-content.ccexquisite .buy-me {
   margin-bottom: 30px !important;
}

body.device-ipad.orientation-portrait #page-content.kali .kali-colors {
   margin-bottom: 120px;
}
body.device-ipad.orientation-portrait #page-content.kali .kali-views-x {
   margin-top: 0;
}
body.device-ipad.orientation-portrait #page-content.kali .kali-views3 {
   margin-top: -30px;
   margin-bottom: -70px;
}
body.device-ipad.orientation-portrait
   #page-content.kali
   .kali-views3
   .one_half
   .content-half
   .project-info-plus {
   transform: translateX(20px);
}
body.device-ipad.orientation-portrait #page-content.kali .kali-views4 {
   margin-bottom: -150px;
}

body.device-ipad.orientation-portrait .full.xlarge .one_half.force-full {
   width: 100% !important;
   max-width: unset !important;
}

body.device-ipad.orientation-portrait #page-content.wellted .self-cleaning {
   margin-bottom: -40px;
}

body.device-ipad.orientation-portrait #page-content.wellted .self-cleaning .wrapper-videos video {
   margin-bottom: -220px;
   margin-top: -160px;
}
body.device-ipad.orientation-portrait #page-content.wellted .cmf .wrapper-videos video {
   padding-top: 0 !important;
   margin-top: -80px;
   margin-bottom: -250px;
}

body.device-ipad.orientation-portrait #page-content.wellted .loop-360 .wrapper-videos video {
   padding-top: 0 !important;
   margin-top: -30px;
   margin-bottom: -120px;
}

body.device-ipad.orientation-portrait
   #page-content.wellted
   .wellted-exploded.full.xlarge
   .one_full {
   padding: 10px 24px !important;
}

body.device-ipad.orientation-portrait
   #page-content.wellted
   .wellted-exploded
   .scroll-bound
   .image-sequence
   img {
   max-width: 95%;
   width: 95%;
}

body.device-ipad.orientation-portrait.contactus #contact {
   height: calc(100vh - 100px);
}
body.device-ipad.orientation-portrait footer {
   position: relative;
}
body.device-ipad.orientation-portrait.contactus footer {
   position: fixed;
   bottom: 0;
}
