@media (min-width: 1920px) {
   /* #main {
      background-color: red !important;
   } */

   .text,
   .text p,
   #hero-description p,
   .buy-me p {
      font-size: calc(0.13vw + 18px);
      line-height: calc(0.13vw + 26px) !important;
      margin-bottom: calc(0.13vw + 18px);
      letter-spacing: -0.5px;
   }

   header {
      height: calc(0.13vw + 74px);
      box-shadow: 0px 0px calc(0.13vw + 30px) #0c0c0c15;
      -webkit-backdrop-filter: blur(calc(0.13vw + 8px));
      backdrop-filter: blur(calc(0.13vw + 8px));
   }

   #lang {
      font-size: calc(0.13vw + 13px);
   }
   .icon-wrap {
      width: calc(0.13vw + 74px);
      height: calc(0.13vw + 74px);
   }

   #logo img {
      height: calc(0.13vw + 11px);
   }

   .hero-arrow {
      width: calc(0.13vw + 32px);
      height: calc(0.13vw + 43px);
   }

   .full.xlarge h2 img {
      transform: translateY(calc(0.13vw + -7px));
   }
   #main.project-detail .grid-item > div:nth-child(2) {
      font-size: calc(0.13vw + 15px);
      line-height: calc(0.13vw + 23px);
   }

   .spot {
      width: calc(0.13vw + 14px);
      height: calc(0.13vw + 14px);
   }

   .message-box-spot {
      font-size: calc(0.13vw + 15px) !important;
      line-height: calc(0.13vw + 25px) !important;
   }
   .flexnav {
      margin-left: calc(0.13vw + 180px);
   }
   .fullscreen-menu .flexnav li ul.submenu {
      margin-left: calc(0.13vw + 40px);
      margin-top: calc(0.13vw + 20px);
   }
   .fullscreen-menu.invert-header .flexnav li a {
      letter-spacing: calc(0.13vw + -3px);
   }
   #main.home #hero-caption .hero-title {
      height: calc(100vh - calc(0.13vw + 60px));
      max-height: calc(100vh - calc(0.13vw + 60px));
   }
   .flexnav {
      margin-left: calc(0.13vw + 180px);
   }
   .fullscreen-menu .flexnav li ul.submenu {
      margin-left: calc(0.13vw + 20px) !important;
      margin-top: calc(0.13vw + 10px);
   }
   #main.home #main-content.projects h1 {
      letter-spacing: calc(0.13vw + -3px);
   }
   #page-content.skinpro .skinpro-acc {
      margin-top: calc(0.13vw + -170px) !important;
   }
   #page-content.pilltrack .pilltrack-led .last .content-half h2 img,
   #page-content.pilltrack .pilltrack-uses .content-half h2 img {
      max-height: calc(0.13vw + 33px) !important;
   }
   #page-content.kali .kali-open {
      margin-top: calc(0.13vw + -250px);
   }
   #page-content.wellted .self-cleaning .wrapper-videos video {
      margin-bottom: calc(0.13vw + -90px);
      margin-top: calc(0.13vw -20px);
   }
   body.contactus #contact {
      height: calc(100vh - calc(0.13vw + 160px));
   }

   #main.project-detail.detail-project #hero.has-image #hero-caption .inner h1 {
      margin-top: calc(5vh + calc(0.13vw + 74px)) !important;
   }
   #main.project-detail.detail-project #hero.has-image #hero-caption .inner h1.lines {
      margin-top: calc(2vh + calc(0.13vw + 74px)) !important;
   }

   .spots-container img.wide {
      max-width: 95%;
   }
}
