/* Estilos para pantallas 4K */
@media (-webkit-min-device-pixel-ratio: 38402160), (min-resolution: 3840x2160) {
   #main.home #hero .content-max-width {
      padding-left: 3.5vw !important;
      padding-right: 3.5vw !important;
   }
}

/* Estilos para pantallas Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
   #main.home #hero .content-max-width {
      padding-left: 3.5vw !important;
      padding-right: 3.5vw !important;
   }
}

/* Estilos para pantallas HD */
@media (min-width: 1280px) and (max-width: 1920px) {
   header {
      height: 74px;
      box-shadow: 0px 0px 30px #0c0c0c15;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
   }

   #lang {
      font-size: 13;
   }

   .icon-wrap {
      width: 74px;
      height: 74px;
   }

   #logo img {
      height: 11px;
   }

   .hero-arrow {
      width: 32px;
      height: 43px;
   }

   .nmp .hero-arrow span {
      border: 1.5px solid #222;
   }

   .hero-arrow i.arrow-icon {
      transform: rotate(45deg) scale(0.45);
   }

   .fullscreen-menu .flexnav li a {
      font-size: 8vw;
      line-height: 10vw;
   }

   .fullscreen-menu .flexnav li ul.submenu li a {
      font-size: 1.5vw;
   }

   .text,
   .text p,
   #hero-description p,
   .buy-me p {
      font-size: 16px;
      line-height: 26px;
   }

   .full.xlarge h2 img {
      max-height: 3.35vw;
      transform: translateY(-7px);
   }

   .full.xlarge h2 img.max {
      max-height: 3.6vw;
      transform: translateY(-0.4vw);
   }

   .nmp span {
      width: 17% !important;
      min-width: 17% !important;
      margin: 10px 0;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner .from {
      font-size: 1.6vw;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner .desc,
   #main.project-detail.detail-project #hero.has-image #caption-img .inner .anio {
      font-size: 1.1vw;
   }

   #main.project-detail .grid-item > div:nth-child(2) {
      font-size: 15px;
      line-height: 23px;
   }

   .spot {
      width: 14px;
      height: 14px;
   }

   .spots-container img.wide {
      max-width: 95%;
   }

   .message-box-spot {
      font-size: 15px !important;
      line-height: 25px !important;
   }

   #main.home #hero-caption {
      padding-top: 0 !important;
   }

   #main.home #hero-caption .hero-title {
      width: 100%;
   }

   /* Wellted */
   .full.xlarge .one_half .content-half {
      max-width: 95%;
      width: 95%;
   }
}

/* Estilos para tabletas */
@media (max-width: 1279px) {
   /* .fullscreen-menu .flexnav {
      margin-top: 25px !important;
      margin-left: 100px !important;
   } */

   .fullscreen-menu .flexnav li a {
      font-size: calc(2rem + 3vw) !important;
      line-height: calc(2rem + 3vw) !important;
   }

   .fullscreen-menu .flexnav li ul li a {
      text-align: left;
      font-size: calc(2.5vw) !important;
      line-height: calc(3.15vw) !important;
   }

   .fullscreen-menu .flexnav li ul {
      list-style-type: none;
   }

   .fullscreen-menu .flexnav li ul.submenu {
      margin-left: 40px;
      margin-top: 0px;
   }

   #hero-bg-image {
      background-size: 40vw !important;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner .from,
   #main.project-detail.detail-project #hero.has-image #hero-caption .inner .from {
      font-size: 2.4vw;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner .desc,
   #main.project-detail.detail-project #hero.has-image #hero-caption .inner .desc {
      font-size: 1.8vw;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner .anio,
   #main.project-detail.detail-project #hero.has-image #hero-caption .inner .anio {
      font-size: 1.4vw;
   }

   #main.project-detail.detail-project #hero.has-image #hero-description .inner {
      max-width: 40vw;
   }

   .text,
   .text p,
   #hero-description p,
   .buy-me p {
      font-size: 15px;
      line-height: 22px;
   }

   .message-box-spot {
      font-size: 16px;
      line-height: 26px;
   }

   /* #project-nav {
      display: none;
   } */

   /* #project-nav-responsive {
        display: inherit !important;
    } */

   #page-content.black #project-nav-responsive .next-project-wrap {
      background-color: #131316;
   }

   #page-content.white #project-nav-responsive .next-project-wrap {
      background-color: #eaeaea;
   }

   /* #project-nav-responsive .next-project-image-wrapper {
        transform: translateY(11vh);
        display: inherit !important;
    }

   #project-nav-responsive .next-project-image-wrapper .next-project-image-bg {
        transform: translateY(11vh) scale(1.4) !important;
        display: inherit !important;
    }

    #project-nav-responsive .next-project-image {
        overflow: visible;
        -webkit-clip-path: unset !important;
        clip-path: unset !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #project-nav-responsive a {
        transition: all .2s ease-in-out;
    }

    #project-nav-responsive a:hover {
        transform: scale(1.1) !important;
    }

    #project-nav-responsive a img {
        height: 120vh;
        margin-top: 20vh;
    }

    #project-nav-responsive .all-works {
        top: 24vh;
    }

    #project-nav-responsive .all-works p {
        font-size: 16px;
    }

    #project-nav-responsive .next-project-wrap {
        height: 100vh;
        max-height: 100vh;
    } */
}

/* Estilos para celulares */
@media (max-width: 767px) {
   .mob-mb-40 {
      margin-bottom: 40px;
   }
   .preloader-intro span {
      font-size: calc(2rem + 2vw);
      line-height: calc(2rem + 2.5vw);
      margin-left: 10px;
   }

   .percentage-wrapper {
      width: 25vw;
   }

   .percentage {
      opacity: 1;
      font-size: calc(2rem + 2vw);
      line-height: calc(2rem + 2.5vw);
   }

   /* #lang {
        justify-content: flex-start;
    } */

   .icon-wrap {
      justify-content: center;
   }

   .fullscreen-menu .flexnav li ul.submenu {
      margin-left: unset;
      margin-top: unset;
   }

   .flexnav.opacity {
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
   }

   #header-container nav .flexnav .menu-item {
      justify-content: center;
   }

   .fullscreen-menu .flexnav li ul.submenu li a {
      font-size: 28px;
   }

   h2 {
      font-size: calc(2.5rem + 3vw);
   }

   .full.xlarge h2 img {
      max-height: 6.5vw !important;
   }

   .nmp span {
      width: 33% !important;
      min-width: 33% !important;
      margin: 1.75vw 0;
   }

   #lang {
      font-size: 15px;
      min-width: 130px;
   }

   #main-content {
      margin-top: 120px;
   }

   #main.home #main-content.projects h1 {
      font-size: 12vw;
      letter-spacing: -2px;
      padding-left: 0;
      padding-right: 0;
   }

   #itemsWrapper .inline-flex {
      justify-content: center;
   }

   #contact {
      height: 100vh;
   }
   #contact .inner h2 {
      font-size: calc(0.6rem + 7vw);
   }

   .mail-txt {
      margin-top: 0;
   }

   .project .project-info h2 {
      font-size: calc(2.2rem + 1vw);
      letter-spacing: -3px !important;
      width: min-intrinsic;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      margin-bottom: 5px;
   }

   .project .project-info p.desc {
      font-weight: 300;
      font-size: calc(1rem + 0.2vw);
   }

   #main-page-content {
      height: 100%;
   }

   .projects-container {
      height: calc(3861.7 * (118vw / 768));
   }

   .home-fusion {
      width: calc(702.11 * (70vw / 768));
      height: calc(906.13 * (70vw / 768));
      top: 2%;
      left: calc(1217.89 * (23vw / 768));
   }

   .home-iqperfetto {
      width: calc(730.18 * (70vw / 768));
      height: calc(864.25 * (70vw / 768));
      top: calc(290.41 * (220vw / 768));
      left: -5vw;
   }

   .home-skinpro {
      width: calc(403.1 * (70vw / 768));
      height: calc(703.07 * (70vw / 768));
      top: calc(973.02 * (125vw / 768));
      left: calc(757.06 * (53vw / 768));
   }

   .home-pilltrack {
      width: calc(918.47 * (70vw / 768));
      height: calc(1137.42 * (70vw / 768));
      top: calc(1522.68 * (110vw / 768));
      left: 0;
   }

   .home-ccexquisite {
      width: calc(759.82 * (70vw / 768));
      height: calc(605.74 * (70vw / 768));
      top: calc(1679.07 * (164vw / 768));
      left: calc(1160.18 * (21vw / 768));
   }

   .home-kali {
      width: calc(772.72 * (70vw / 768));
      height: calc(966.76 * (70vw / 768));
      top: calc(2894.94 * (112vw / 768));
      left: -15vw;
   }

   .home-wellted {
      width: calc(606.22 * (70vw / 768));
      height: calc(737.34 * (70vw / 768));
      top: calc(2803.93 * (141vw / 768));
      left: calc(1313.78 * (25vw / 768));
   }

   .project.home-fusion .project-info {
      left: -30%;
      top: 40%;
   }

   .project.home-iqperfetto .project-info {
      left: 86%;
      top: 35%;
   }

   .project.home-skinpro .project-info {
      right: 115%;
      top: 25%;
   }

   .project.home-pilltrack .project-info {
      right: -56%;
      top: 97%;
   }

   .project.home-ccexquisite .project-info {
      left: -30%;
      top: -27%;
   }

   .project.home-kali .project-info {
      right: -76%;
      top: 72%;
   }

   .project.home-wellted .project-info {
      right: 43%;
      top: 50%;
   }

   #aboutus .caption-timeline.text {
      line-height: 1.5 !important;
      font-size: 17px !important;
   }

   .next-hero-subtitle {
      line-height: 1.5 !important;
      font-size: 17px !important;
      padding: 0 3.5vw !important;
   }

   #hero-description,
   #caption-img {
      display: flex !important;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner.title {
      margin-left: 20%;
   }

   #hero-bg-image,
   #page-content .next-project-image-bg.alpha {
      background-position: 50% 70% !important;
   }

   #hero-bg-image {
      -webkit-animation: backgroundResize 1s ease-in-out forwards !important;
      animation: backgroundResize 1s ease-in-out forwards !important;
      -webkit-animation-delay: 1.2s !important;
      animation-delay: 1.2s !important;
      transform: translate(50%, -20%) scale(2) !important;
   }

   @-webkit-keyframes backgroundResize {
      0% {
         background-size: auto 100vh;
      }

      100% {
         background-size: auto 70vh;
      }
   }

   @keyframes backgroundResize {
      0% {
         background-size: auto 100vh;
      }

      100% {
         background-size: auto 70vh;
      }
   }

   #hero-caption .inner {
      display: none !important;
   }
   #hero-description {
      display: flex !important;
   }

   #page-content.skinpro #main.project-detail.detail-project #hero.has-image #hero-bg-image,
   #page-content.iqperfetto #main.project-detail.detail-project #hero.has-image #hero-bg-image,
   #page-content.ccexquisite #main.project-detail.detail-project #hero.has-image #hero-bg-image {
      transform: translate(50%, -12%) scale(2) !important;
   }

   #project-nav .next-project-header {
      width: calc(100% - 100px) !important;
      max-width: calc(100% - 100px) !important;
   }

   .next-project-header {
      width: calc(100% - 100px) !important;
      max-width: calc(100% - 100px) !important;
   }

   #page-content .next-project-image-bg.alpha {
      background-size: auto 100vh;
   }

   .hero-arrow {
      bottom: 10%;
   }

   .carousel {
      display: none !important;
   }

   .carousel .left-arrow svg,
   .carousel .right-arrow svg {
      stroke-width: 0.7px;
      height: 80%;
   }

   .carousel a.right-arrow {
      margin-right: 0;
      padding-right: 0;
   }

   .carousel a.left-arrow {
      margin-left: 0;
      padding-left: 0;
   }

   #page-content.skinpro
      #main.project-detail.detail-project
      #hero.has-image
      #caption-img
      .inner
      h1.less,
   #page-content.iqperfetto
      #main.project-detail.detail-project
      #hero.has-image
      #caption-img
      .inner
      h1.less,
   #page-content.ccexquisite
      #main.project-detail.detail-project
      #hero.has-image
      #caption-img
      .inner
      h1.less {
      flex-direction: column !important;
   }

   #page-content.iqperfetto
      #main.project-detail.detail-project
      #hero.has-image
      #caption-img
      .inner
      .detail
      div:first-child,
   #page-content.iqperfetto
      #main.project-detail.detail-project
      #hero.has-image
      #hero-caption
      .inner
      .detail
      div:first-child,
   #page-content.ccexquisite
      #main.project-detail.detail-project
      #hero.has-image
      #caption-img
      .inner
      .detail
      div:first-child,
   #page-content.ccexquisite
      #main.project-detail.detail-project
      #hero.has-image
      #hero-caption
      .inner
      .detail
      div:first-child {
      transform: translateY(0);
      display: flex;
      flex-direction: row;
   }

   #page-content.skinpro
      #main.project-detail.detail-project
      #hero.has-image
      #caption-img
      .inner
      .detail
      div:nth-child(2),
   #page-content.skinpro
      #main.project-detail.detail-project
      #hero.has-image
      #hero-caption
      .inner
      .detail
      div:nth-child(2),
   #page-content.iqperfetto
      #main.project-detail.detail-project
      #hero.has-image
      #caption-img
      .inner
      .detail
      div:nth-child(2),
   #page-content.iqperfetto
      #main.project-detail.detail-project
      #hero.has-image
      #hero-caption
      .inner
      .detail
      div:nth-child(2),
   #page-content.ccexquisite
      #main.project-detail.detail-project
      #hero.has-image
      #caption-img
      .inner
      .detail
      div:nth-child(2),
   #page-content.ccexquisite
      #main.project-detail.detail-project
      #hero.has-image
      #hero-caption
      .inner
      .detail
      div:nth-child(2) {
      transform: translateY(0);
      display: flex;
      flex-direction: row;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner h1 {
      margin-top: 10vh !important;
      font-size: 17.5vw !important;
      letter-spacing: -1.3vw;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner .desc {
      margin-top: 5px;
      margin-bottom: 6px;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner .from {
      font-size: 5vw;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner .desc,
   #main.project-detail.detail-project #hero.has-image #caption-img .inner .anio {
      font-size: 3.5vw;
   }

   #main.project-detail.detail-project #hero.has-image #caption-img .inner.title,
   #main.project-detail.detail-project #hero.has-image #hero-description .inner,
   .full.xlarge .one_half .content-half,
   .full.xlarge .one_half.last .content-half {
      margin-left: 0;
      margin-bottom: 0;
      padding: 10px 12vw 10px 12vw;
      max-width: 100%;
      width: 100%;
   }

   #hero-background-layer {
      position: relative !important;
      transform: unset !important;
      inset: unset !important;
      max-height: unset !important;
      min-height: 100% !important;
   }

   .content-row.xlarge.content-column-resp {
      flex-direction: column !important;
   }

   .full.xlarge .one_half {
      width: 100vw !important;
      max-width: 100vw !important;
   }

   #main.project-detail .grid-container2x2 {
      padding: 0;
      margin: 10% 0 0 !important;
   }

   #main.project-detail .grid-item > div:nth-child(2) {
      font-size: 16px;
   }

   #main.project-detail .grid-item img {
      max-width: 100%;
      height: auto;
   }

   #main.project-detail .grid-item img {
      margin-bottom: 15px;
   }

   #main.project-detail .grid-item > div {
      max-height: unset !important;
   }

   .full.xlarge .one_half.last .content-half {
      padding: 8vw !important;
   }

   .full.xlarge .one_full,
   .content-max-width,
   .content-full-width {
      padding: 0;
   }

   .video-scroll {
      max-width: 90%;
      margin: 0 5% !important;
      height: unset !important;
   }

   .content-half.buy-me-content {
      padding: 0 !important;
      margin-top: 10%;
   }

   #page-content.fusion .spots-container {
      transform: translateX(0) !important;
   }

   #page-content.iqperfetto .padding-left {
      margin-top: 5vw !important;
      padding-left: 10vw !important;
      max-width: 90vw !important;
   }

   .message-box-spot {
      font-size: 16px !important;
      line-height: 26px !important;
      width: min-intrinsic;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
   }

   .iqperfetto-ultra {
      margin-top: 0 !important;
   }

   .iqperfetto-det2 .content-full {
      transform: unset !important;
   }

   .iqperfetto-spots .spots-container {
      width: 120%;
      margin-top: -10%;
      margin-left: -20%;
   }

   .iqperfetto-details-t {
      margin-top: 10% !important;
   }

   .iqperfetto-det1 .content-full {
      max-width: 70% !important;
      width: 70% !important;
   }

   .iqperfetto-det2 .content-full {
      transform: unset !important;
      position: relative;
      margin-top: 10% !important;
   }

   .iqperfetto-det3 {
      transform: unset;
      margin-bottom: 0;
   }

   .iqperfetto-det3 .one_full .content-half img {
      transform: translateY(0%);
   }

   .iqperfetto-det3 .one_full .content-half {
      width: 30%;
      padding-left: 5%;
      padding-right: 15%;
   }

   .iqperfetto-det3 .buy-me-content {
      width: 50% !important;
   }

   .skinpro-colors {
      margin-top: 0;
   }

   .skinpro-colors.full.xlarge .one_full .content-full.fullwide img {
      max-width: 100%;
   }

   .skinpro-views .content-full {
      transform: unset !important;
   }

   .skinpro-views .video-scroll {
      min-height: 65vh;
   }

   .skinpro-views-2.content-row.xlarge {
      flex-direction: column !important;
   }

   .skinpro-acc {
      margin-top: 0 !important;
   }

   .skinpro-acc .video-scroll {
      margin-top: 5% !important;
   }

   .pilltrack-led .content-half {
      transform: unset;
   }

   .pilltrack-led .last .content-half {
      text-align: left;
      transform: unset;
   }

   .pilltrack-led .last .content-half {
      text-align: left;
      transform: unset;
   }

   .pilltrack-led h2 {
      margin-top: 10%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
   }

   .pilltrack-led .last .content-half h2 img {
      margin-left: 30px;
      padding-top: 8px;
      max-height: 42px !important;
   }

   .full.xlarge.pilltrack-led .one_half.last {
      width: 100vw !important;
      max-width: unset !important;
   }

   .full.xlarge.pilltrack-led .one_half.last .content-half {
      padding: 10px 12vw 10px 12vw !important;
   }

   .pilltrack-uses.content-row.xlarge {
      flex-direction: column !important;
   }

   .pilltrack-uses .last .content-half {
      position: relative !important;
      right: 0;
   }

   .pilltrack-uses .full.xlarge .one_half.last .content-half {
      padding: 0 !important;
   }

   #main.project-detail .pilltrack-uses .content-half > img {
      max-height: unset !important;
   }

   .pilltrack .full.xlarge .one_full .content-full {
      flex-direction: column;
   }

   .pilltrack-buy-me .buy-me {
      position: relative;
      margin-top: 30px;
   }
   .pilltrack-buy-me .buy-me-content img {
      margin-bottom: 20%;
   }

   .pilltrack-buy-me {
      padding-bottom: 5vh;
      margin-top: 10%;
   }

   .pilltrack-buy-me img {
      margin-left: 0;
   }

   .ccexquisite-place .scroll-bound .image-sequence,
   .ccexquisite-color .scroll-bound .image-sequence,
   .ccexquisite-exploded .scroll-bound .image-sequence,
   .kali-open .scroll-bound .image-sequence,
   .wellted-exploded .scroll-bound .image-sequence {
      justify-content: center;
      align-items: center;
      height: 100vh;
      max-height: 100vh;
      padding-top: 50px;
   }

   .ccexquisite-place .image-sequence img,
   .ccexquisite-color .image-sequence img,
   .ccexquisite-exploded .image-sequence img,
   .kali-ope .image-sequence img {
      width: 90%;
   }

   .ccexquisite-color .video-scroll {
      max-width: 90% !important;
      min-height: unset;
      margin-bottom: 25% !important;
   }

   .ccexquisite-exploded-t {
      margin-top: 0;
   }

   .ccexquisite-exploded-t .content-full {
      margin-left: 10% !important;
   }

   .ccexquisite-views .max-height-110,
   #main.project-detail .content-full > img {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
   }

   .ccexquisite-views {
      margin: 5% 0;
   }

   .kali-colors .one_full .content-full img {
      max-width: 100%;
   }

   .kali-open {
      margin-top: 0;
   }

   .kali-exploded,
   .kali-views3 {
      margin-top: 15%;
   }

   .kali-exploded .content-full {
      width: 65% !important;
   }

   .kali-exploded .content-full .project-info-plus {
      transform: unset !important;
   }

   .kali-views3 .one_half .content-half img {
      max-height: 70vh !important;
   }

   .kali-views4 {
      margin-top: 20%;
   }

   .kali-views4 .content-full {
      width: 100% !important;
   }

   .wellted-exploded {
      margin-top: 0;
   }

   .skinpro-buy-me {
      position: relative;
   }
}
